@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'cairo';
  src: url('/fonts/Cairo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'cairo', sans-serif;
}
